.header
  .header__box
    %div{type: "logo", class: "header__box__title", link_to: "#"}
    .header__box__search
      %input{ class: 'header__box__search__form', placeholder: 'キーワードから探す' }
      %a{type: "button", class: "header__box__search__btn", link_to: "#"}
  .header__box2
    .header__box2__tab
      = render partial: 'category-drop'
      = render partial: "brand-drop"
    .header__box2__info
      = link_to "♡ いいね！一覧", new_user_session_path, class: "header__box2__info__like"
      = link_to "マイページ", destroy_user_session_path, method: :delete, class: "header__box2__info__mypage"