%footer
  %nav
    %ul.clearfix
      %li
        %a プライバシーポリシー
      %li
        %aフリマ利用規約
      %li
        %a 特定商取引に関する表記
  %a.footer-logo
    = image_tag 'logo/logo-white.png', alt: '', height: '49px', width: '185px', class: 'header--logo'
  %p
    %small
      &copy; Furima, Inc.