  .s-header
    .l-header
      %h1
      .nav-contents
        .nav-content.red
          %p情報入力
          .circle.rot
        .nav-content
          %p住所入力
          .circle
        .nav-content
          %p電話番号
          .circle
        .nav-content
          %p入力完了
          .round