.wrapper
  = render partial: "shared/shared_1/header"
  .Complete-info
    .Complete-view
      %h2会員登録完了
      .Complete-text
        %pありがとうございます。
        %p登録が完了しました。
      .Complete-btn
        = link_to "/" do
          フリマを始める
  = render partial: "shared/shared_1/footer"