.wrapper
  .prefecture-register
    .s-header
      .l-header
        %h1
        .nav-contents
          .nav-content.red
            %p情報入力
            .circle.red
          .nav-content.second
            %p住所入力
            .circle.red
          .nav-content.red
            %p電話番号
            .circle.com
          .nav-content
            %p.comp入力完了
            .round.orange
  .Complete-info
    .Complete-view
      %h2会員登録完了
      .Complete-text
        %pありがとうございます。
        %p登録が完了しました。
      .Complete-btn
        = link_to "/" do
          フリマを始める
  = render partial: "shared/shared_1/footer"