.Newsingle-container
  .header
    %h1
  .single-main
    .l-single-container
      %h2新規会員登録
      .container-form
        .form-content
          =link_to "/signups/step1" do
            %i.far.fa-envelope
            メールアドレスで登録
          .facebook-btn
            %i.fab.fa-facebook-square
            facebookで登録
          .google-btn
            %i.fab.fa-google
            googleで登録