.breadcrumb-bar {
  height: 50px;
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 2px inset rgb(180, 179, 179);
  background-color: #fff;
  padding: 16px 340px;
  box-shadow:  10px 10px 10px rgba(0,0,0,0.4);
  a {
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 0px 10px ;
  }
  .current {
    background-color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 0 10px;
    margin: 0;
  }
}