.wrapper {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
  color: #333;
  margin: 0 auto;
}

.sell_box {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  position: fixed;
  height: 100px;
  width: 100px;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  border: solid 2px #33CCCC;
  background-color: #33CCCC;
  cursor: pointer;
  border-radius: 10px;
  &__btn {
    background-image: image-url("icon/icon_camera.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 70px;
  }
  
}

.header {
  box-sizing: border-box;
  background-color: white;
  height: 100px;
  width: 100%;
  padding: 10px 250px;
  &__box {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    &__title {
      height: 50px;
      width: 150px;
      font-size: 40px;
      text-align: center;
      a {
        text-decoration: none;
      }
    }
    &__search {
      height: 40px;
      width: 800px;
      display: flex;
      justify-content: center;
      &__form {
        height: 30px;
        width: 730px;
        margin-left: 30px;
        font-size: 15px;
      }
      &__btn {
        height: 30px;
        width: 30px;
        cursor: pointer;
        background-image: image-url("icon/icon-search.png");
        background-size: cover;
        background-color: #33CCCC;
        margin-left: 1px;
      }
    }
  }
  &__box2 {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__tab {
      height: 25px;
      width: 250px;
      display: flex;
      justify-content: space-between;
      a {
        font-size: 15px;
        text-decoration: none;
      }  
      a:link{
        color: black;
      }
      a:visited {
        color: black;
      }
      a:hover {
        color: #33CCCC;
      }  
      a:active {
        color: #33CCCC;
      }
    }
    &__info {
      height: 25px;
      width: 250px;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        font-size: 15px;
      }
      a:link{
        color: black;
      }
      a:visited {
        color: black;
      }
      a:hover {
        color: #33CCCC;
      }  
      a:active {
        color: #33CCCC;
      }    
    }
  }
}

.content {
  box-sizing: border-box;
  background-image: image-url("pict/bg-mainVisual-pict_pc.jpg");
  background-size: 100% 560px;
  height: 560px;
  width: 100%;
  padding: 200px 0 0 100px;
  &__title {
    height: 60px;
    width: 100%;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px black;
  }
  &__subtitle {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 3px black;
  }
  &__icon {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    &__app {
      background-image: image-url("logo/app-store-badge.png");
      background-size: contain;
      height: 40px;
      width: 135px;
      cursor: pointer;
      margin-top: 10px;
    }
    &__google {
      background-image: image-url("logo/google-play-badge.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 60px;
      width: 155px;
      cursor: pointer;
    }
  }
}

.content2 {
  box-sizing: border-box;
  width: 100%;
  height: 700px;
  padding: 60px 0;
  &__title {
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  &__main {
    height: 550px;
    padding: 0 100px;
    &__picture {
      height: 350px;
      display: flex;
      justify-content: space-between;
      &__image1 {
        background-image: image-url("pict/pict-reason-01.jpg");
        background-size: cover;
        height: 300px;
        width: 300px;
        &__number {
          background-color: #33CCCC;
          border: solid #33cccc;
          color: white;
          height: 40px;
          width: 40px;
          line-height: 40px;
          text-align: center;
        }
      }
      &__image2 {
        background-image: image-url("pict/pict-reason-02.jpg");
        background-size: cover;
        height: 300px;
        width: 300px;
        &__number {
          background-color: #33CCCC;
          border: solid #33cccc;
          color: white;
          height: 40px;
          width: 40px;
          line-height: 40px;
          text-align: center;
        }
      }
      &__image3 {
        background-image: image-url("pict/pict-reason-03.jpg");
        background-size: cover;
        height: 300px;
        width: 300px;
        &__number {
          background-color: #33CCCC;
          border: solid #33CCCC;
          color: white;
          height: 40px;
          width: 40px;
          line-height: 40px;
          text-align: center;
        }
      }
    }
    &__box {
      height: 150px;
      display: flex;
      justify-content: space-between;
      &__text1 {
        font-size: 30px;
        &__content {
          font-size: 20px;
          white-space: pre;
        }
      }
      &__text2 {
        font-size: 30px;
        &__content {
          font-size: 20px;
          white-space: pre;
        }
      }
      &__text3 {
        font-size: 30px;
        &__content {
          font-size: 20px;
          white-space: pre;
        }
      }
    }
  }
}

.content3 {
  box-sizing: border-box;
  background-image: image-url("pict/bg-topMiddleDl-pict.jpg");
  background-size: 100% 400px;
  height: 400px;
  padding: 100px 0 0 150px;
  &__title {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 3px black;
  }  
  &__subtitle {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 3px black;
    white-space: pre;
  }
  &__icon {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    &__app {
      background-image: image-url("logo/app-store-badge.png");
      background-size: contain;
      height: 40px;
      width: 135px;
      cursor: pointer;
      margin-top: 10px;
    }
    &__google {
      background-image: image-url("logo/google-play-badge.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 60px;
      width: 155px;
      cursor: pointer;
    }
  }
}

.content4 {
  box-sizing: border-box;
  width: 100%;
  height: 700px;
  padding: 60px 0;
  &__title {
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  &__main {
    height: 550px;
    padding: 0 100px;
    &__picture {
      height: 350px;
      display: flex;
      justify-content: space-around;
      &__image1 {
        background-image: image-url("icon/icon-01.png");
        background-size: 300px 300px;
        height: 300px;
        width: 300px;
      }
      &__image2 {
        background-image: image-url("icon/icon-03.png");
        background-size: 300px 300px;
        height: 300px;
        width: 300px;
      }
      &__image3 {
        background-image: image-url("icon/icon-04.png");
        background-size: 300px 300px;
        height: 300px;
        width: 300px;
      }
    }
    &__box {
      height: 150px;
      display: flex;
      justify-content: space-between;
      &__text1 {
        font-size: 30px;
        &__content {
          font-size: 20px;
          white-space: pre;
        }
      }
      &__text2 {
        font-size: 30px;
        &__content {
          font-size: 20px;
          white-space: pre;
        }
      }
      &__text3 {
        font-size: 30px;
        &__content {
          font-size: 20px;
          white-space: pre;
        }
      }
    }
  }
}

.content5 {
  background-color: #f0f0f0;
  height: 800px;
  width: 100%;
  &__main1 {
    height: 400px;
    &__title {
      height: 100px;
      white-space: pre;
      text-align: center;
      font-size: 25px;
      margin-bottom: 30px;
      font-weight: bold;
    }
    &__picture {
      height: 250px;
      padding: 0 255px;
      a {
        text-decoration: none;
        color: black;
      }
      &__image {
        width: 150px;
        height: 220px;
        display: inline-flex;
        &__content {
          height: 150px;
          width: 150px;
          background-color: white;
          margin-left: 30px;
          box-shadow: 2px 2px 10px gray;
          position: relative;
        }
        &__form {
          width: 150px;
          height: 70px;
          background-color: white;
          box-shadow: 2px 2px 10px gray;
          &__name {
            font-size: 20px;
            height: 45px;
            overflow: hidden;
            p {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
            }
          }
          &__box {
            height: 25px;   
            background-color: white;
            &__price {
              font-size: 20px;
              float: left;
            }
            &__like {
              font-size: 20px;
              float: right;
            }
          }
        }  
      }
      &__image2 {
        background-image: image-url("icon/a004.png");
        background-size: 150px 150px;
        background-repeat: no-repeat;
        width: 150px;
        height: 220px;
        background-color: white;
        &__content {
          height: 80px;
          display: flex;
          justify-content: space-between;
          padding-top: 140px;
          &__form {
            font-size: 20px;
            white-space: pre;
          }
          &__like {
            padding-top: 50px;
          }
        }       
      }
      &__image3 {
        background-image: image-url("icon/a001.png");
        background-size: 150px 150px;
        background-repeat: no-repeat;
        width: 150px;
        height: 220px;
        background-color: white;
        &__content {
          height: 80px;
          display: flex;
          justify-content: space-between;
          padding-top: 140px;
          &__form {
            font-size: 20px;
            white-space: pre;
          }
          &__like {
            padding-top: 50px;
          }
        }       
      }
    }
  }
  &__main2 {
    height: 400px;
    &__title {
      height: 100px;
      white-space: pre;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    &__picture {
      height: 250px;
      display: flex;
      justify-content: space-around;
      padding: 0 150px;
      &__image1 {
        background-image: image-url("icon/a007.png");
        background-size: 150px 150px;
        background-repeat: no-repeat;
        width: 150px;
        height: 220px;
        background-color: white;
        &__content {
          height: 80px;
          display: flex;
          justify-content: space-between;
          padding-top: 140px;
          &__form {
            font-size: 20px;
            white-space: pre;
          }
          &__like {
            padding-top: 50px;
          }
        }       
      }
      &__image2 {
        background-image: image-url("icon/a004.png");
        background-size: 150px 150px;
        background-repeat: no-repeat;
        width: 150px;
        height: 220px;
        background-color: white;
        &__content {
          height: 80px;
          display: flex;
          justify-content: space-between;
          padding-top: 140px;
          &__form {
            font-size: 20px;
            white-space: pre;
          }
          &__like {
            padding-top: 50px;
          }
        }       
      }
      &__image3 {
        background-image: image-url("icon/a001.png");
        background-size: 150px 150px;
        background-repeat: no-repeat;
        width: 150px;
        height: 220px;
        background-color: white;
        &__content {
          height: 80px;
          display: flex;
          justify-content: space-between;
          padding-top: 140px;
          &__form {
            font-size: 20px;
            white-space: pre;
          }
          &__like {
            padding-top: 50px;
          }
        }       
      }
    }
  }    
}

.banner {
  box-sizing: border-box;
  height: 360px;
  background-image: image-url("pict/bg-appBanner-pict.jpg");
  background-size: 100% 360px;
  width: 100%;
  height: 360px;
  padding-top: 100px;
  &__title {
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
  }
  &__subtitle {
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
  }
  &__icon {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    &__app {
      background-image: image-url("logo/app-store-badge.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 40px;
      width: 135px;
      cursor: pointer;
      margin-top: 10px;
    }
    &__google {
      background-image: image-url("logo/google-play-badge.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 60px;
      width: 155px;
      cursor: pointer;
    }
  }
}

.footer {
  background-color: black;
  height: 300px;
  padding: 50px 300px;
  &__info {
    height: 30px;
    width: 100%;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    &__help {
      padding-right: 30px;
    }
  }
  &__content {
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    &__menu1 {
      font-size: 12px;
      white-space: pre;
    
    }
    &__menu2 {
      font-size: 12px;
      white-space: pre;
      
    }
    &__menu3 {
      font-size: 12px;
      white-space: pre;
    }
  }
  &__logo {
    background-image: image-url("logo/logo-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    margin-left: 340px;
  }
  &__company-furima {
    font-size: 10px;
    color: white;
    height: 15px;
    text-align: center;
  }
}

.products-box_photo__sold{
  width: 0;
  height: 0;
  border-top: 50px solid #ea352d ;
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #ea352d ;
  z-index:100;
  position: relative;
  top:-320px;
  position: absolute;
  top: 0px;
  &__inner{
    transform: rotate(-45deg);
    font-size: 20px;
    margin:-20px 0px 0px -40px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}