// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*:not(br){
  line-height: 1;
  /* ...その他リセット項目... */
}
// 商品購入確認
.purchase-contents {
  background-color: #f5f5f5;
}
.purchase-content {
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  width: 700px;
  background-color: blue;
  &__header {
    font-size: 22px;
    padding: 32px;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
  }
  &__item {
    background-color: #fff;
    padding: 32px 16px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #f5f5f5;
    .purchase-content__item__box {
      display: flex;
      &__img {
        height: 80px;
        width: 80px;
        background-color: blue;
      }
      &__show {
        margin-left: 16px;
        &__name { 
          padding: 0 0 8px;
          font-size: 14px;
        }
        &__label {
          font-size: 14px;
          display: flex;
          font-weight: 600;
          text-align: left;
          &__price{
          }
          &__tax {
            font-size: 12px;
          }
        }
      }
    }
  }
  &__info {
    padding: 32px 200px;
    height: 100%;
    background-color: #fff;
    border-top: 1px solid #f5f5f5;
    &__price {
      background-color: #ffffff;
      &__name {
        display: flex;
        justify-content: space-between;
        &__pay {
          font-size: 18px;
          font-weight: 600;
        }
        &__count {
          font-weight: 600;
          font-size: 24px;
        }
      }
      &__point {
        display: flex;
        padding: 24px 0 32px;
        &__icon {
          height: 20px;
          width: 20px;
          background-color: #ccc;
          border-radius: 2px;
        }
        &__name {
          color: #888;
          padding: 0 0 0 10px;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    &__credit {
      padding: 32px 0;
      background-color: #ffffff;
      border-top: 1px solid #f5f5f5;
      &__how {
        display: flex;
        justify-content: space-between;
        &__left {
          font-size: 14px;
          font-weight: bold;
        }
        &__right {
          font-size: 14px;
          &--link {
            text-decoration: none;
            color: #0099e8;
          }
        }
      }
      &__card {
        font-size: 14px;
        margin: 8px 0 0;
      }
      &__img {
        margin-top: 8px;
        
      }
    }
    &__address {
      padding: 32px 0;
      background-color: #ffffff;
      border-top: 1px solid #f5f5f5;
      font-size: 14px;
      &__send {
        display: flex;
        justify-content: space-between;
        &__left {
          font-weight: bold;
        }
        &__right {
          &--link {
            text-decoration: none;
            color: #0099e8;
          }
        }
      }
      &__area {
        margin-top: 8px;
      }  
    }
    &__purchase-btn {
      padding-top: 32px;
      background-color: #ffffff;
      border-top: 1px solid #f5f5f5;
      &__box {
        width: 100%;
        line-height: 48px;
        background: #3CCACE;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

*{
  box-sizing: border-box;
}
h3{
  font-size: 14px;
  margin: 0;
  display: inline;
  color: #888;
}
span{
  font-size: 12px;
  padding: 2px 4px;
  background-color: #3CCACE;
  margin-left: 8px;
  border-radius: 2px;
}
a{
  cursor: pointer;
}

label{
  font-weight: bold;
  font-size: 14px;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.product-header{
  height: 128px;
  width: 100%;
  text-align: center;
  line-height: 128px;
  &--logo{
    vertical-align: middle;
  }
}
.error {
  margin-top: 10px;
  color: red;
  font-weight: normal;
}
.image-error{
  margin-top: 30px;
}
.wrapper{
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  .container{
    height: calc(100% - 350px);
    width: 700px;
    background-color: #fff;
    margin: 0 auto;
    .head{
      text-align: center;
      border-bottom: 1px solid #f5f5f5;
      padding: 32px 16px;
      h2{
        font-size: 22px;
        font-weight: bold;
        margin: 0;
      }
    }
    .section{
      padding: 40px;
      border-bottom: 1px solid #f5f5f5;
      background-color: #fff;
      .form-question{
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #0099e8;
        color: #fff;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
      }
      p{
        margin-top: 8px;
        font-size: 14px;
        font-weight: normal;
      }
      
        
      #image-box{
        box-sizing: content-box;
        min-height: 162px;
        width:600px;
        margin: 0 16px auto;
        .previews__box{
          float:left;
          min-height: 162px;
          width:110px;
          margin-top:16px;
          background-color: #f5f5f5;
          border: 1px solid #ccc;
          .image-box{
            padding:0 5px;
            margin-top:10px;
            img{
              height:110px;
            }
          }
          .btn-box{
              display:flex;
              height: 32px;
              text-align: center;
              color:#0099e8;
            .js-change{
              line-height: 32px;
              width:50%;
              border-right:1px solid #ccc;
              cursor:pointer;
            }
            .js-remove{
              line-height: 32px;
              width:50%;
              cursor:pointer;
            }
            .js-remove:hover{
              transition:1s;
              opacity:0.5;
            }
            .js-change:hover{
              transition:1s;
              opacity:0.5;
            }
          }
        }
        .previews__box{
          margin-right:5px;
        }
        .input-box{
          height:50%;
          width:100%;
          margin-right:5px;
          float:right;
          .js-file_group{
            min-height: 162px;
            width: 100%;
            background-color: #f5f5f5;
            border: 1px dashed #ccc;
            margin-top: 16px;
            width:100%;
            min-height: 162px;
            text-align: center;
            position: relative;
            label{
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              font-weight: bold;
              margin: auto;
              p{
                margin-top: 55px;
              }
            }
          }
          .js-file_group:not(:last-child){
            display:none;
          }
          input[type="file"]{
            display:none;
          }
        }
      }
      input[type="text"]{
        min-height: 48px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 16px 8px;
        margin-top: 8px;
      }
      .form{
        width: 100%;
        &__group{
          margin-top: 40px;
          textarea{
            min-height: 104px;
            max-width: 100%;
            width: 100%;
            border-radius: 4px;
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 8px;
            font-size: 16px;
            line-height: 1.5;
          }
        }
      }
      .sell-form-box{
        float: right;
        width: 65%;
        li{
          min-height: 48px;
          line-height: 48px;
          font-size: 14px;
          border-bottom: 1px solid #f5f5f5;
          padding-bottom: 24px;
          .l-left{
            width: 50%;
            float: left;
          }
          .l-right{
            width: 50%;
            float: right;
            display: flex;
            text-align: right;
            .yen{
              display: inline;
              line-height: 48px;
            }
            input[type="tel"]{
              min-height: 48px;
              width: 100%;
              border-radius: 4px;
              border: 1px solid #ccc;
              padding: 10px 16px 8px;
            }
          }
        }
        li.clearfix{
          padding: 12px 0;
          p{
            display: inline;
            margin: 0;
          }
        }
        li.bold{
          p{
            font-weight: bold;
            display: inline;
          }
        }
      }
      .sell-btn-box{
        p{
          margin: 14px 0;
          a{
            cursor: pointer;
            color: #0099e8;
          }
        }
        .btn-default{
          display: block;
          height: 48px;
          width: 100%;
          font-size: 14px;
          color: #fff;
          cursor: pointer;
        }
        .btn-blue{
          padding: 1px 7px 2px;
          margin-top: 40px;
          border: 1px solid #3CCACE;
          background-color: #3CCACE;
        }
        .btn-gray{
          background-color: #aaa;
          border: 1px solid #aaa;
          width: 50%;
          text-align: center;
          line-height: 48px;
          margin: 24px auto;
        }
      }
      .select{
        &__box{
          width: 400px;
          float: right;
          margin-top: 40px;
          .select-wrap{
            position: relative;
            i{
              position: absolute;
              right: 16px;
              top: 65%;
              color: #888;
              font-size: 16px;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
            }
            select{
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              width: 100%;
              // z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
  footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 14px;
    ul{
      font-size: 12px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-align: center;
      li{
        width: 33%;
      }
    }
    a.footer-logo{
      display: block;
      margin: 40px auto 0;
      text-align: center;
    }
    p{
      text-align: center;
      margin-top: 5px;
    }
  }
}