body {
  background-color: white;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

.content-detail {
  box-sizing: border-box;
  background-color: #f0f0f0;
  height: auto;
  padding: 30px 350px;
  &__form {
    background-color: white;
    height: auto;
    padding: 30px;
    &__title {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    &__box {
      height: 420px;
      position: relative;
      &__image {
        height: 420px;
        width: 300px;
        float: left;
      }  
      &__detail {
        height: 414px;
        width: 300px;
        float: right;
        border: solid 1px #f5f5f5;
        &__seller {
          float: left;
          height: 59px;
          width: 109px;
          background-color: #fafafa;
          line-height: 59px;
          border-bottom: solid 1px #f5f5f5;
          border-right: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__seller__form {
          float: right;
          height: 59px;
          width: 189px;
          line-height: 59px;
          border-bottom: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__category {
          float: left;
          height: 81px;
          width: 109px;
          background-color: #fafafa;
          line-height: 81px;
          border-bottom: solid 1px #f5f5f5;
          border-right: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__category__form {
          float: right;
          height: 81px;
          width: 189px;
          border-bottom: solid 1px #f5f5f5;
          padding-left: 10px;
          white-space: pre;
          padding-top: 5px;
        }
        &__brand {
          float: left;
          height: 39px;
          width: 109px;
          background-color: #fafafa;
          line-height: 39px;
          border-bottom: solid 1px #f5f5f5;
          border-right: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__brand__form {
          float: right;
          height: 39px;
          width: 189px;
          line-height: 39px;
          border-bottom: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__size {
          float: left;
          height: 39px;
          width: 109px;
          background-color: #fafafa;
          line-height: 39px;
          border-bottom: solid 1px #f5f5f5;
          border-right: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__size__form {
          float: right;
          height: 39px;
          width: 189px;
          line-height: 39px;
          border-bottom: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__status {
          float: left;
          height: 39px;
          width: 109px;
          background-color: #fafafa;
          line-height: 39px;
          border-bottom: solid 1px #f5f5f5;
          border-right: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__status__form {
          float: right;
          height: 39px;
          width: 189px;
          line-height: 39px;
          border-bottom: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__delivery-price {
          float: left;
          height: 39px;
          width: 109px;
          background-color: #fafafa;
          line-height: 39px;
          border-bottom: solid 1px #f5f5f5;
          border-right: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__delivery-price__form {
          float: right;
          height: 39px;
          width: 189px;
          line-height: 39px;
          border-bottom: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__delivery-method {
          float: left;
          height: 39px;
          width: 109px;
          background-color: #fafafa;
          line-height: 39px;
          border-bottom: solid 1px #f5f5f5;
          border-right: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__delivery-method__form {
          float: right;
          height: 39px;
          width: 189px;
          line-height: 39px;
          border-bottom: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__delivery-origin {
          float: left;
          height: 39px;
          width: 109px;
          background-color: #fafafa;
          line-height: 39px;
          border-bottom: solid 1px #f5f5f5;
          border-right: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__delivery-origin__form {
          float: right;
          height: 39px;
          width: 189px;
          line-height: 39px;
          border-bottom: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__delivery-date {
          float: left;
          height: 39px;
          width: 109px;
          background-color: #fafafa;
          line-height: 39px;
          border-right: solid 1px #f5f5f5;
          padding-left: 10px;
        }
        &__delivery-date__form {
          float: right;
          height: 39px;
          width: 189px;
          line-height: 39px;
          padding-left: 10px;
        }
      }
    }  
    &__price {
      height: 50px;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      &__bold {
        margin-right: 20px;
        font-weight: bold;
        font-size: 40px;
        height:50px;
        width: auto;
      }
      &__item {
        padding-top: 15px;
        height: 40px;
        display: flex;
        justify-content: center;
        width: 100px;
        &__tax {
          font-size: 10px;
          height: 20px;
          padding-top: 5px; 
        }
        &__delivery-price {
          font-size: 15px;
          height: 20px;
          margin-left: 5px;
        }
      }
    }
    &__edit-btn {
      width: 680px;
      background-color: lightgray;
      color: white;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      display:inline-block;
    }
    &__bay-btn {
      width: 680px;
      background-color: #33CCCC;
      color: white;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      display:inline-block;
    }
    &__destroy {
      width: 680px;
      background-color: #33CCCC;
      color: white;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      display:inline-block;
      margin-top: 20px;
    }
    &__sold-btn {
      width: 680px;
      background-color: lightgray;
      color: white;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      display:inline-block;
    }
    &__description {
      height: auto;
      padding: 20px 0;
      font-size: 20px;
    }
    &__icon {
      height: 30px;
      display: flex;
      justify-content: start;
      &__like {
        border: solid 1px #f5f5f5;
        background-color: #f5f5f5;
        width: 130px;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        i {
          color: gray;
          z-index: 0;
          size: 5px;
        }
        .heart{
          color: red;
        }
      }
      &__report {
        border: solid 1px #f5f5f5;
        background-color: #f5f5f5;
        width: 200px;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
        border-radius: 20px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
  &__comment {
    margin-top: 20px;
    height: 300px;
    background-color: white;
    padding: 20px;
    font-size: 15px;
    &__danger {
      height: 50px;
      padding: 10px;
      background-color: #ffffcc;
      font-size: 15px;
      
    }
    &__form {
      width: 700px;
      height: 150px;
      border: solid 1px lightgray;
      margin-top: 5px;
    }
    &__btn {
      background-color: lightgray;
      height: 50px;
      color: white;
      text-align: center;
      line-height: 50px;
      margin-top: 5px;
      cursor: pointer;
    }
  }
}

.slick {
  height: 300px;
  width: 300px;
  background-color: #fafafa;
}
.slick-img {
  height: 300px;
  width: 300px;
  background-size: 300px 300px;
  
}
.slick-thumbnail {
  background-color: #fafafa;
  border-top: solid 1px #f5f5f5;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.slick-thumbnail_item {
  background-size: 60px 60px;
  width: 20%;
  height: 60px;
  outline:none;
}

.img.slick-slide {
  height: 300px;
  width: 60px;
}

.products-box_show_photo__sold{
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:1;
  position: relative;
  top:-320px;
  position: absolute;
  top: 0px;
  
  &__inner{
    transform: rotate(-45deg);
    font-size: 20px;
    margin:-25px 0px 0px -45px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

