%ul.ddmenu
  %li
    %a{:href => "#"} ブランド
    %ul
      %li
        %a{:href => "#"} シャネル
        %a{:href => "#"} ナイキ
        %a{:href => "#"} ルイ ヴィトン
        %a{:href => "#"} シュプリーム
        %a{:href => "#"} アディダス
        %a{:href => "#"} ブランド一覧