%ul.ddmenu
  %li
    %a{:href => "#"} カテゴリー
    %ul
      %li
        %a{:href => "#"} レディース
        %ul
          %li
            %a{:href => "#"} トップス
            %ul
              %li
                %a{:href => "#"} Tシャツ/カットソー(半袖/袖なし)
                %a{:href => "#"} Tシャツ/カットソー(七分/長袖)
                %a{:href => "#"} シャツ/ブラウス(半袖/袖なし)
                %a{:href => "#"} シャツ/ブラウス(七分/長袖)
                %a{:href => "#"} ポロシャツ
                %a{:href => "#"} キャミソール
                %a{:href => "#"} タンクトップ
                %a{:href => "#"} ホルターネック
                %a{:href => "#"} ニット/セーター
                %a{:href => "#"} チュニック
                %a{:href => "#"} カーディガン/ボレロ
                %a{:href => "#"} アンサンブル
                %a{:href => "#"} ベスト/ジレ
                %a{:href => "#"} パーカー
                %a{:href => "#"} トレーナー/スウェット
                %a{:href => "#"} ベアトップ/チューブトップ
                %a{:href => "#"} ジャージ
                %a{:href => "#"} その他        
          %li        
            %a{:href => "#"} ジャケット/アウター
            %ul
              %li
                %a{:href => "#"} テーラードジャケット
                %a{:href => "#"} ノーカラージャケット
                %a{:href => "#"} Gジャン/デニムジャケット
                %a{:href => "#"} レザージャケット
                %a{:href => "#"} ダウンジャケット
                %a{:href => "#"} ライダースジャケット
                %a{:href => "#"} ミリタリージャケット
                %a{:href => "#"} ダウンベスト
                %a{:href => "#"} ジャンパー/ブルゾン
                %a{:href => "#"} ポンチョ
                %a{:href => "#"} ロングコート
                %a{:href => "#"} トレンチコート
                %a{:href => "#"} ダッフルコート
                %a{:href => "#"} ピーコート
                %a{:href => "#"} チェスターコート
                %a{:href => "#"} モッズコート
                %a{:href => "#"} スタジャン
                %a{:href => "#"} 毛皮/ファーコート
                %a{:href => "#"} スプリングコート
                %a{:href => "#"} スカジャン
                %a{:href => "#"} その他      
          %li                 
            %a{:href => "#"} パンツ
            %ul
              %li
                %a{:href => "#"} デニム/ジーンズ
                %a{:href => "#"} ショートパンツ
                %a{:href => "#"} カジュアルパンツ
                %a{:href => "#"} ハーフパンツ
                %a{:href => "#"} チノパン
                %a{:href => "#"} ワークパンツ/カーゴパンツ
                %a{:href => "#"} クロップドパンツ
                %a{:href => "#"} サロペット/オーバーオール
                %a{:href => "#"} オールインワン
                %a{:href => "#"} サルエルパンツ
                %a{:href => "#"} ガウチョパンツ
                %a{:href => "#"} その他
          %li      
            %a{:href => "#"} スカート
            %ul
              %li
                %a{:href => "#"} ミニスカート
                %a{:href => "#"} ひざ丈スカート
                %a{:href => "#"} ロングスカート
                %a{:href => "#"} キュロット
                %a{:href => "#"} その他   
          %li                 
            %a{:href => "#"} ワンピース
            %ul
              %li
                %a{:href => "#"} ミニワンピース
                %a{:href => "#"} ひざ丈ワンピース
                %a{:href => "#"} ロングワンピース
                %a{:href => "#"} その他
          %li      
            %a{:href => "#"} 靴
            %ul
              %li
                %a{:href => "#"} ハイヒール/パンプス
                %a{:href => "#"} ブーツ
                %a{:href => "#"} サンダル
                %a{:href => "#"} スニーカー
                %a{:href => "#"} ミュール
                %a{:href => "#"} モカシン
                %a{:href => "#"} ローファー/革靴
                %a{:href => "#"} フラットシューズ/バレエシューズ
                %a{:href => "#"} 長靴/レインシューズ
                %a{:href => "#"} その他     
          %li               
            %a{:href => "#"} ルームウェア/パジャマ
            %ul
              %li
                %a{:href => "#"} パジャマ
                %a{:href => "#"} ルームウェア    
          %li                
            %a{:href => "#"} レッグウェア
            %ul
              %li
                %a{:href => "#"} ソックス
                %a{:href => "#"} スパッツ/レギンス
                %a{:href => "#"} ストッキング/タイツ
                %a{:href => "#"} レッグウォーマー
                %a{:href => "#"} その他   
          %li                 
            %a{:href => "#"} 帽子
            %ul
              %li
                %a{:href => "#"} ニットキャップ/ビーニー
                %a{:href => "#"} ハット
                %a{:href => "#"} ハンチング/ベレー帽
                %a{:href => "#"} キャップ
                %a{:href => "#"} キャスケット
                %a{:href => "#"} 麦わら帽子
                %a{:href => "#"} その他
          %li      
            %a{:href => "#"} バッグ
            %ul
              %li
                %a{:href => "#"} ハンドバッグ
                %a{:href => "#"} トートバッグ
                %a{:href => "#"} エコバッグ
                %a{:href => "#"} リュック/バックパック
                %a{:href => "#"} ボストンバッグ
                %a{:href => "#"} スポーツバッグ
                %a{:href => "#"} ショルダーバッグ
                %a{:href => "#"} クラッチバッグ
                %a{:href => "#"} ポーチ/バニティ
                %a{:href => "#"} ボディバッグ/ウェストバッグ
                %a{:href => "#"} マザーズバッグ
                %a{:href => "#"} メッセンジャーバッグ
                %a{:href => "#"} ビジネスバッグ
                %a{:href => "#"} 旅行用バッグ/キャリーバッグ
                %a{:href => "#"} ショップ袋
                %a{:href => "#"} 和装用バッグ
                %a{:href => "#"} かごバッグ
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} アクセサリー
            %ul
              %li
                %a{:href => "#"} ネックレス
                %a{:href => "#"} ブレスレット
                %a{:href => "#"} バングル/リストバンド
                %a{:href => "#"} リング
                %a{:href => "#"} ピアス(片耳用)
                %a{:href => "#"} ピアス(両耳用)
                %a{:href => "#"} イヤリング
                %a{:href => "#"} アンクレット
                %a{:href => "#"} ブローチ/コサージュ
                %a{:href => "#"} チャーム
                %a{:href => "#"} その他   
          %li                 
            %a{:href => "#"} ヘアアクセサリー
            %ul
              %li
                %a{:href => "#"} ヘアゴム/シュシュ
                %a{:href => "#"} ヘアバンド/カチューシャ
                %a{:href => "#"} ヘアピン
                %a{:href => "#"} その他 
          %li                   
            %a{:href => "#"} 小物
            %ul
              %li
                %a{:href => "#"} 長財布
                %a{:href => "#"} 折り財布
                %a{:href => "#"} コインケース/小銭入れ
                %a{:href => "#"} 名刺入れ/定期入れ
                %a{:href => "#"} キーケース
                %a{:href => "#"} キーホルダー
                %a{:href => "#"} 手袋/アームカバー
                %a{:href => "#"} ハンカチ
                %a{:href => "#"} ベルト
                %a{:href => "#"} マフラー/ショール
                %a{:href => "#"} ストール/スヌード
                %a{:href => "#"} バンダナ/スカーフ
                %a{:href => "#"} ネックウォーマー
                %a{:href => "#"} サスペンダー
                %a{:href => "#"} サングラス/メガネ
                %a{:href => "#"} モバイルケース/カバー
                %a{:href => "#"} 手帳
                %a{:href => "#"} イヤマフラー
                %a{:href => "#"} 傘
                %a{:href => "#"} レインコート/ポンチョ
                %a{:href => "#"} ミラー
                %a{:href => "#"} タバコグッズ
                %a{:href => "#"} その他  
          %li                  
            %a{:href => "#"} 時計
            %ul
              %li
                %a{:href => "#"} 腕時計(アナログ)
                %a{:href => "#"} 腕時計(デジタル)
                %a{:href => "#"} ラバーベルト
                %a{:href => "#"} レザーベルト
                %a{:href => "#"} 金属ベルト
                %a{:href => "#"} その他 
          %li                   
            %a{:href => "#"} ウィッグ/エクステ 
            %ul
              %li
                %a{:href => "#"} 前髪ウィッグ
                %a{:href => "#"} ロングストレート
                %a{:href => "#"} ロングカール
                %a{:href => "#"} ショートストレート
                %a{:href => "#"} ショートカール
                %a{:href => "#"} その他  
          %li                           
            %a{:href => "#"} 浴衣/水着
            %ul
              %li
                %a{:href => "#"} 浴衣
                %a{:href => "#"} 着物
                %a{:href => "#"} 振袖
                %a{:href => "#"} 長襦袢/半襦袢
                %a{:href => "#"} 水着セパレート
                %a{:href => "#"} 水着ワンピース
                %a{:href => "#"} 水着スポーツ用
                %a{:href => "#"} その他 
          %li                   
            %a{:href => "#"} スーツ/フォーマル/ドレス
            %ul
              %li
                %a{:href => "#"} スカートスーツ上下
                %a{:href => "#"} パンツスーツ上下
                %a{:href => "#"} ドレス
                %a{:href => "#"} パーティーバッグ
                %a{:href => "#"} シューズ
                %a{:href => "#"} ウェディング
                %a{:href => "#"} その他 
          %li                   
            %a{:href => "#"} マタニティ
            %ul
              %li
                %a{:href => "#"} トップス
                %a{:href => "#"} アウター
                %a{:href => "#"} インナー
                %a{:href => "#"} ワンピース
                %a{:href => "#"} パンツ/スパッツ
                %a{:href => "#"} スカート
                %a{:href => "#"} パジャマ
                %a{:href => "#"} 授乳服
                %a{:href => "#"} その他 
          %li                   
            %a{:href => "#"} その他
            %ul
              %li
                %a{:href => "#"} コスプレ
                %a{:href => "#"} 下着
                %a{:href => "#"} その他              
      %li
        %a{:href => "#"} メンズ
        %ul
          %li
            %a{:href => "#"} トップス
            %ul
              %li
                %a{:href => "#"} Tシャツ/カットソー(半袖/袖なし)
                %a{:href => "#"} Tシャツ/カットソー(七分/長袖)
                %a{:href => "#"} シャツ
                %a{:href => "#"} ポロシャツ
                %a{:href => "#"} タンクトップ
                %a{:href => "#"} ニット/セーター
                %a{:href => "#"} パーカー
                %a{:href => "#"} カーディガン
                %a{:href => "#"} スウェット
                %a{:href => "#"} ジャージ
                %a{:href => "#"} ベスト
                %a{:href => "#"} その他 
          %li                            
            %a{:href => "#"} ジャケット/アウター
            %ul
              %li
                %a{:href => "#"} テーラードジャケット
                %a{:href => "#"} ノーカラージャケット
                %a{:href => "#"} Gジャン/デニムジャケット
                %a{:href => "#"} レザージャケット
                %a{:href => "#"} ダウンジャケット
                %a{:href => "#"} ライダースジャケット
                %a{:href => "#"} ミリタリージャケット
                %a{:href => "#"} ナイロンジャケット
                %a{:href => "#"} フライトジャケット
                %a{:href => "#"} ダッフルコート
                %a{:href => "#"} ピーコート
                %a{:href => "#"} ステンカラーコート
                %a{:href => "#"} トレンチコート
                %a{:href => "#"} モッズコート
                %a{:href => "#"} チェスターコート
                %a{:href => "#"} スタジャン
                %a{:href => "#"} スカジャン
                %a{:href => "#"} ブルゾン
                %a{:href => "#"} マウンテンパーカー
                %a{:href => "#"} ダウンベスト
                %a{:href => "#"} ポンチョ
                %a{:href => "#"} カバーオール
                %a{:href => "#"} その他 
          %li                   
            %a{:href => "#"} パンツ
            %ul
              %li
                %a{:href => "#"} デニム/ジーンズ
                %a{:href => "#"} ワークパンツ/カーゴパンツ
                %a{:href => "#"} スラックス
                %a{:href => "#"} チノパン
                %a{:href => "#"} ショートパンツ
                %a{:href => "#"} ペインターパンツ
                %a{:href => "#"} サルエルパンツ
                %a{:href => "#"} オーバーオール
                %a{:href => "#"} その他
          %li      
            %a{:href => "#"} 靴
            %ul
              %li
                %a{:href => "#"} スニーカー
                %a{:href => "#"} サンダル
                %a{:href => "#"} モカシン
                %a{:href => "#"} ドレス/ビジネス
                %a{:href => "#"} 長靴/レインシューズ
                %a{:href => "#"} デッキシューズ
                %a{:href => "#"} その他 
          %li                   
            %a{:href => "#"} バッグ
            %ul
              %li
                %a{:href => "#"} ショルダーバッグ
                %a{:href => "#"} トートバッグ
                %a{:href => "#"} ボストンバッグ
                %a{:href => "#"} リュック/バックパック
                %a{:href => "#"} ウエストポーチ
                %a{:href => "#"} ボディーバッグ
                %a{:href => "#"} ドラムバッグ
                %a{:href => "#"} ビジネスバッグ
                %a{:href => "#"} トラベルバッグ
                %a{:href => "#"} メッセンジャーバッグ
                %a{:href => "#"} エコバッグ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} スーツ
            %ul
              %li
                %a{:href => "#"} スーツジャケット
                %a{:href => "#"} スーツベスト
                %a{:href => "#"} スラックス
                %a{:href => "#"} セットアップ
                %a{:href => "#"} その他 
          %li                   
            %a{:href => "#"} 帽子
            %ul
              %li
                %a{:href => "#"} キャップ
                %a{:href => "#"} ハット
                %a{:href => "#"} ニットキャップ/ビーニー
                %a{:href => "#"} ハンチング/ベレー帽
                %a{:href => "#"} キャスケット
                %a{:href => "#"} サンバイザー
                %a{:href => "#"} その他
          %li      
            %a{:href => "#"} アクセサリー
            %ul
              %li
                %a{:href => "#"} ネックレス
                %a{:href => "#"} ブレスレット
                %a{:href => "#"} バングル/リストバンド
                %a{:href => "#"} リング
                %a{:href => "#"} ピアス(片耳用)
                %a{:href => "#"} ピアス(両耳用)
                %a{:href => "#"} アンクレット
                %a{:href => "#"} その他 
          %li                   
            %a{:href => "#"} 小物
            %ul
              %li
                %a{:href => "#"} 長財布
                %a{:href => "#"} 折り財布
                %a{:href => "#"} マネークリップ
                %a{:href => "#"} コインケース/小銭入れ
                %a{:href => "#"} 名刺入れ/定期入れ
                %a{:href => "#"} キーケース
                %a{:href => "#"} キーホルダー
                %a{:href => "#"} ネクタイ
                %a{:href => "#"} 手袋
                %a{:href => "#"} ハンカチ
                %a{:href => "#"} ベルト
                %a{:href => "#"} マフラー
                %a{:href => "#"} ストール
                %a{:href => "#"} バンダナ
                %a{:href => "#"} ネックウォーマー
                %a{:href => "#"} サスペンダー
                %a{:href => "#"} ウォレットチェーン
                %a{:href => "#"} サングラス/メガネ
                %a{:href => "#"} モバイルケース/カバー
                %a{:href => "#"} 手帳
                %a{:href => "#"} ストラップ
                %a{:href => "#"} ネクタイピン
                %a{:href => "#"} カフリンクス
                %a{:href => "#"} イヤマフラー
                %a{:href => "#"} 傘
                %a{:href => "#"} レインコート
                %a{:href => "#"} ミラー
                %a{:href => "#"} タバコグッズ
                %a{:href => "#"} その他  
          %li
            %a{:href => "#"} 時計
            %ul
              %li
                %a{:href => "#"} 腕時計(アナログ)
                %a{:href => "#"} 腕時計(デジタル)
                %a{:href => "#"} ラバーベルト
                %a{:href => "#"} レザーベルト
                %a{:href => "#"} 金属ベルト
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} 水着
            %ul
              %li
                %a{:href => "#"} 一般水着
                %a{:href => "#"} スポーツ用
                %a{:href => "#"} アクセサリー
                %a{:href => "#"} その他  
          %li                  
            %a{:href => "#"} レッグウェア
            %ul
              %li
                %a{:href => "#"} ソックス
                %a{:href => "#"} レギンス/スパッツ
                %a{:href => "#"} レッグウォーマー
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} アンダーウェア
            %ul
              %li
                %a{:href => "#"} トランクス
                %a{:href => "#"} ボクサーパンツ
                %a{:href => "#"} その他              
            %a{:href => "#"} その他
      %li
        %a{:href => "#"} ベビー・キッズ
        %ul
          %li
            %a{:href => "#"} ベビー服(女の子用)~95cm
            %ul
              %li
                %a{:href => "#"} トップス
                %a{:href => "#"} アウター
                %a{:href => "#"} パンツ
                %a{:href => "#"} スカート
                %a{:href => "#"} ワンピース
                %a{:href => "#"} ベビードレス
                %a{:href => "#"} おくるみ
                %a{:href => "#"} 下着/肌着
                %a{:href => "#"} パジャマ
                %a{:href => "#"} ロンパース
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ベビー服(男の子用)~95cm
            %ul
              %li
                %a{:href => "#"} トップス
                %a{:href => "#"} アウター
                %a{:href => "#"} パンツ
                %a{:href => "#"} おくるみ
                %a{:href => "#"} 下着/肌着
                %a{:href => "#"} パジャマ
                %a{:href => "#"} ロンパース
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ベビー服(男女兼用)~95cm
            %ul
              %li
                %a{:href => "#"} トップス
                %a{:href => "#"} アウター
                %a{:href => "#"} パンツ
                %a{:href => "#"} おくるみ
                %a{:href => "#"} 下着/肌着
                %a{:href => "#"} パジャマ
                %a{:href => "#"} ロンパース
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} キッズ服(女の子用)100cm~
            %ul
              %li
                %a{:href => "#"} コート
                %a{:href => "#"} ジャケット/上着
                %a{:href => "#"} トップス(Tシャツ/カットソー)
                %a{:href => "#"} トップス(トレーナー)
                %a{:href => "#"} トップス(チュニック)
                %a{:href => "#"} トップス(タンクトップ)
                %a{:href => "#"} トップス(その他)
                %a{:href => "#"} スカート
                %a{:href => "#"} パンツ
                %a{:href => "#"} ワンピース
                %a{:href => "#"} セットアップ
                %a{:href => "#"} パジャマ
                %a{:href => "#"} フォーマル/ドレス
                %a{:href => "#"} 和服
                %a{:href => "#"} 浴衣
                %a{:href => "#"} 甚平
                %a{:href => "#"} 水着
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} キッズ服(男の子用)100cm~
            %ul
              %li
                %a{:href => "#"} コート
                %a{:href => "#"} ジャケット/上着
                %a{:href => "#"} トップス(Tシャツ/カットソー)
                %a{:href => "#"} トップス(トレーナー)
                %a{:href => "#"} トップス(その他)
                %a{:href => "#"} パンツ
                %a{:href => "#"} セットアップ
                %a{:href => "#"} パジャマ
                %a{:href => "#"} フォーマル/ドレス
                %a{:href => "#"} 和服
                %a{:href => "#"} 浴衣
                %a{:href => "#"} 甚平
                %a{:href => "#"} 水着
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} キッズ服(男女兼用)100cm~
            %ul
              %li
                %a{:href => "#"} コート
                %a{:href => "#"} ジャケット/上着
                %a{:href => "#"} トップス(Tシャツ/カットソー)
                %a{:href => "#"} トップス(トレーナー)
                %a{:href => "#"} トップス(その他)
                %a{:href => "#"} ボトムス
                %a{:href => "#"} パジャマ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} キッズ靴
            %ul
              %li
                %a{:href => "#"} スニーカー
                %a{:href => "#"} サンダル
                %a{:href => "#"} ブーツ
                %a{:href => "#"} 長靴
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 子ども用ファッション小物
            %ul
              %li
                %a{:href => "#"} 靴下/スパッツ
                %a{:href => "#"} 帽子
                %a{:href => "#"} エプロン
                %a{:href => "#"} サスペンダー
                %a{:href => "#"} タイツ
                %a{:href => "#"} ハンカチ
                %a{:href => "#"} バンダナ
                %a{:href => "#"} ベルト
                %a{:href => "#"} マフラー
                %a{:href => "#"} 傘
                %a{:href => "#"} 手袋
                %a{:href => "#"} スタイ
                %a{:href => "#"} バッグ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} おむつ/トイレバス
            %ul
              %li
                %a{:href => "#"} おむつ用品
                %a{:href => "#"} おまる/補助便座
                %a{:href => "#"} トレーニングパンツ
                %a{:href => "#"} ベビーバス
                %a{:href => "#"} お風呂用品
                %a{:href => "#"} その他
          %li      
            %a{:href => "#"} 外出/移動用品
            %ul
              %li
                %a{:href => "#"} ベビーカー
                %a{:href => "#"} 抱っこひも/スリング
                %a{:href => "#"} チャイルドシート
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 授乳/食事
            %ul
              %li
                %a{:href => "#"} ミルク
                %a{:href => "#"} ベビーフード
                %a{:href => "#"} ベビー用食器
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ベビー家具/寝具/室内用品
            %ul
              %li
                %a{:href => "#"} ベッド
                %a{:href => "#"} 布団/毛布
                %a{:href => "#"} イス
                %a{:href => "#"} たんす
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} おもちゃ
            %ul
              %li
                %a{:href => "#"} おふろのおもちゃ
                %a{:href => "#"} がらがら
                %a{:href => "#"} オルゴール
                %a{:href => "#"} ベビージム
                %a{:href => "#"} 手押し車/カタカタ
                %a{:href => "#"} 知育玩具
                %a{:href => "#"} その他
          %li      
            %a{:href => "#"} 行事/記念品
            %ul
              %li
                %a{:href => "#"} お宮参り用品
                %a{:href => "#"} お食い初め用品
                %a{:href => "#"} アルバム
                %a{:href => "#"} 手形/足形
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} その他
            %ul
              %li
                %a{:href => "#"} 母子手帳用品
                %a{:href => "#"} その他              
      %li
        %a{:href => "#"} インテリア・住まい・小物
        %ul
          %li
            %a{:href => "#"} キッチン/食器
            %ul
              %li
                %a{:href => "#"} 食器
                %a{:href => "#"} 調理器具
                %a{:href => "#"} 収納/キッチン雑貨
                %a{:href => "#"} 弁当用品
                %a{:href => "#"} カトラリー(スプーン等)
                %a{:href => "#"} テーブル用品
                %a{:href => "#"} 容器
                %a{:href => "#"} エプロン
                %a{:href => "#"} アルコールグッズ
                %a{:href => "#"} 浄水機
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ベッド/マットレス
            %ul
              %li
                %a{:href => "#"} セミシングルベッド
                %a{:href => "#"} シングルベッド
                %a{:href => "#"} セミダブルベッド
                %a{:href => "#"} ダブルベッド
                %a{:href => "#"} ワイドダブルベッド
                %a{:href => "#"} クイーンベッド
                %a{:href => "#"} キングベッド
                %a{:href => "#"} 脚付きマットレスベッド
                %a{:href => "#"} マットレス
                %a{:href => "#"} すのこベッド
                %a{:href => "#"} ロフトベッド/システムベッド
                %a{:href => "#"} 簡易ベッド/折りたたみベッド
                %a{:href => "#"} 収納付き
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ソファ/ソファベッド
            %ul
              %li
                %a{:href => "#"} ソファセット
                %a{:href => "#"} シングルソファ
                %a{:href => "#"} ラブソファ
                %a{:href => "#"} トリプルソファ
                %a{:href => "#"} オットマン
                %a{:href => "#"} コーナーソファ
                %a{:href => "#"} ビーズソファ/クッションソファ
                %a{:href => "#"} ローソファ/フロアソファ
                %a{:href => "#"} ソファベッド
                %a{:href => "#"} 応接セット
                %a{:href => "#"} ソファカバー
                %a{:href => "#"} リクライニングソファ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 椅子/チェア
            %ul
              %li
                %a{:href => "#"} 一般
                %a{:href => "#"} スツール
                %a{:href => "#"} ダイニングチェア
                %a{:href => "#"} ハイバックチェア
                %a{:href => "#"} ロッキングチェア
                %a{:href => "#"} 座椅子
                %a{:href => "#"} 折り畳みイス
                %a{:href => "#"} デスクチェア
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 机/テーブル
            %ul
              %li
                %a{:href => "#"} こたつ
                %a{:href => "#"} カウンターテーブル
                %a{:href => "#"} サイドテーブル
                %a{:href => "#"} センターテーブル
                %a{:href => "#"} ダイニングテーブル
                %a{:href => "#"} 座卓/ちゃぶ台
                %a{:href => "#"} アウトドア用
                %a{:href => "#"} パソコン用
                %a{:href => "#"} 事務机/学習机
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 収納家具
            %ul
              %li
                %a{:href => "#"} リビング収納
                %a{:href => "#"} キッチン収納
                %a{:href => "#"} 玄関/屋外収納
                %a{:href => "#"} バス/トイレ収納
                %a{:href => "#"} 本収納
                %a{:href => "#"} 本/CD/DVD収納
                %a{:href => "#"} 洋服タンス/押入れ収納
                %a{:href => "#"} 電話台/ファックス台
                %a{:href => "#"} ドレッサー/鏡台
                %a{:href => "#"} 棚/ラック
                %a{:href => "#"} ケース/ボックス
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ラグ/カーペット/マット
            %ul
              %li
                %a{:href => "#"} ラグ
                %a{:href => "#"} カーペット
                %a{:href => "#"} ホットカーペット
                %a{:href => "#"} 玄関/キッチンマット
                %a{:href => "#"} トイレ/バスマット
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} カーテン/ブラインド
            %ul
              %li
                %a{:href => "#"} カーテン
                %a{:href => "#"} ブラインド
                %a{:href => "#"} ロールスクリーン
                %a{:href => "#"} のれん
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ライト/照明
            %ul
              %li
                %a{:href => "#"} 蛍光灯/電球
                %a{:href => "#"} 天井照明
                %a{:href => "#"} フロアスタンド
                %a{:href => "#"} その他
          %li
            %a{:href => "#"} 寝具
            %ul
              %li
                %a{:href => "#"} 布団/毛布
                %a{:href => "#"} 枕
                %a{:href => "#"} シーツ/カバー
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} インテリア小物
            %ul
              %li
                %a{:href => "#"} ごみ箱
                %a{:href => "#"} ウェルカムボード
                %a{:href => "#"} オルゴール
                %a{:href => "#"} クッション
                %a{:href => "#"} クッションカバー
                %a{:href => "#"} スリッパラック
                %a{:href => "#"} ティッシュボックス
                %a{:href => "#"} バスケット/かご
                %a{:href => "#"} フォトフレーム
                %a{:href => "#"} マガジンラック
                %a{:href => "#"} モビール
                %a{:href => "#"} 花瓶
                %a{:href => "#"} 灰皿
                %a{:href => "#"} 傘立て
                %a{:href => "#"} 小物入れ
                %a{:href => "#"} 置時計
                %a{:href => "#"} 掛時計/柱時計
                %a{:href => "#"} 鏡(立て掛け式)
                %a{:href => "#"} 鏡(壁掛け式)
                %a{:href => "#"} 置物
                %a{:href => "#"} 風鈴
                %a{:href => "#"} 植物/観葉植物
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 季節/年中行事
            %ul
              %li
                %a{:href => "#"} 正月
                %a{:href => "#"} 成人式
                %a{:href => "#"} バレンタインデー
                %a{:href => "#"} ひな祭り
                %a{:href => "#"} 子どもの日
                %a{:href => "#"} 母の日
                %a{:href => "#"} 父の日
                %a{:href => "#"} サマーギフト/お中元
                %a{:href => "#"} 夏/夏休み
                %a{:href => "#"} ハロウィン
                %a{:href => "#"} 敬老の日
                %a{:href => "#"} 七五三
                %a{:href => "#"} お歳暮
                %a{:href => "#"} クリスマス
                %a{:href => "#"} 冬一般
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} その他
      %li      
        %a{:href => "#"} 本・音楽・ゲーム
        %ul
          %li
            %a{:href => "#"} 本
            %ul
              %li
                %a{:href => "#"} 文学/小説
                %a{:href => "#"} 人文/社会
                %a{:href => "#"} ノンフィクション/教養
                %a{:href => "#"} 地図/旅行ガイド
                %a{:href => "#"} ビジネス/経済
                %a{:href => "#"} 健康/医学
                %a{:href => "#"} コンピュータ/IT
                %a{:href => "#"} 趣味/スポーツ/実用
                %a{:href => "#"} 住まい/暮らし/子育て
                %a{:href => "#"} アート/エンタメ
                %a{:href => "#"} 洋書
                %a{:href => "#"} 絵本
                %a{:href => "#"} 参考書
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 漫画
            %ul
              %li
                %a{:href => "#"} 全巻セット
                %a{:href => "#"} 少年漫画
                %a{:href => "#"} 少女漫画
                %a{:href => "#"} 青年漫画
                %a{:href => "#"} 女性漫画
                %a{:href => "#"} 同人誌
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 雑誌
            %ul
              %li
                %a{:href => "#"} アート/エンタメ/ホビー
                %a{:href => "#"} ファッション
                %a{:href => "#"} ニュース/総合
                %a{:href => "#"} 趣味/スポーツ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} CD
            %ul
              %li
                %a{:href => "#"} 邦楽
                %a{:href => "#"} 洋楽
                %a{:href => "#"} アニメ
                %a{:href => "#"} クラシック
                %a{:href => "#"} K-POP/アジア
                %a{:href => "#"} キッズ/ファミリー
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} DVD/ブレーレイ
            %ul
              %li
                %a{:href => "#"} 外国映画
                %a{:href => "#"} 日本映画
                %a{:href => "#"} アニメ
                %a{:href => "#"} TVドラマ
                %a{:href => "#"} ミュージック
                %a{:href => "#"} お笑い/バラエティ
                %a{:href => "#"} スポーツ/フィットネス
                %a{:href => "#"} キッズ/ファミリー
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} レコード
            %ul
              %li
                %a{:href => "#"} 邦楽
                %a{:href => "#"} 洋楽
                %a{:href => "#"} その他
          %li                   
            %a{:href => "#"} テレビゲーム
            %ul
              %li
                %a{:href => "#"} 家庭用ゲーム本体
                %a{:href => "#"} 家庭用ゲームソフト
                %a{:href => "#"} 携帯用ゲーム本体
                %a{:href => "#"} 携帯用ゲームソフト
                %a{:href => "#"} PCゲーム
                %a{:href => "#"} その他              
      %li            
        %a{:href => "#"} おもちゃ・ホビー・グッズ
        %ul
          %li
            %a{:href => "#"} おもちゃ
            %ul
              %li
                %a{:href => "#"} キャラクターグッズ
                %a{:href => "#"} ぬいぐるみ
                %a{:href => "#"} 小物/アクセサリー
                %a{:href => "#"} 模型/プラモデル
                %a{:href => "#"} ミニカー
                %a{:href => "#"} トイラジコン
                %a{:href => "#"} プラモデル
                %a{:href => "#"} ホビーラジコン
                %a{:href => "#"} 鉄道模型
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} タレントグッズ
            %ul
              %li
                %a{:href => "#"} アイドル
                %a{:href => "#"} ミュージシャン
                %a{:href => "#"} タレント/お笑い芸人
                %a{:href => "#"} スポーツ選手
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} コミック/アニメグッズ
            %ul
              %li
                %a{:href => "#"} ストラップ
                %a{:href => "#"} キーホルダー
                %a{:href => "#"} バッジ
                %a{:href => "#"} カード
                %a{:href => "#"} クリアファイル
                %a{:href => "#"} ポスター
                %a{:href => "#"} タオル
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} トレーディングカード
            %ul
              %li
                %a{:href => "#"} 遊戯王
                %a{:href => "#"} マジック：ザ・ギャザリング
                %a{:href => "#"} ポケモンカードゲーム
                %a{:href => "#"} デュエルマスターズ
                %a{:href => "#"} バトルスピリッツ
                %a{:href => "#"} プリパラ
                %a{:href => "#"} アイカツ
                %a{:href => "#"} カードファイト!! ヴァンガード
                %a{:href => "#"} ヴァイスシュヴァルツ
                %a{:href => "#"} プロ野球オーナーズリーグ
                %a{:href => "#"} ベースボールヒーローズ
                %a{:href => "#"} ドラゴンボール
                %a{:href => "#"} スリーブ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} フィギュア
            %ul
              %li
                %a{:href => "#"} コミック/アニメ
                %a{:href => "#"} 特撮
                %a{:href => "#"} ゲームキャラクター
                %a{:href => "#"} SF/ファンタジー/ホラー
                %a{:href => "#"} アメコミ
                %a{:href => "#"} スポーツ
                %a{:href => "#"} ミリタリー
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 楽器/器材
            %ul
              %li
                %a{:href => "#"} エレキギター
                %a{:href => "#"} アコースティックギター
                %a{:href => "#"} ベース
                %a{:href => "#"} エフェクター
                %a{:href => "#"} アンプ
                %a{:href => "#"} 弦楽器
                %a{:href => "#"} 管楽器
                %a{:href => "#"} 鍵盤楽器
                %a{:href => "#"} 打楽器
                %a{:href => "#"} 和楽器
                %a{:href => "#"} 楽譜/スコア
                %a{:href => "#"} レコーディング/PA機器
                %a{:href => "#"} DJ機器
                %a{:href => "#"} DTM/DAW
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} コレクション
            %ul
              %li
                %a{:href => "#"} 武具
                %a{:href => "#"} 使用済切手/官製はがき
                %a{:href => "#"} 旧貨幣/金貨/銀貨/記念硬貨
                %a{:href => "#"} 印刷物
                %a{:href => "#"} ノベルティグッズ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ミリタリー
            %ul
              %li
                %a{:href => "#"} トイガン
                %a{:href => "#"} 個人装備
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 美術品
            %ul
              %li
                %a{:href => "#"} 陶芸
                %a{:href => "#"} ガラス
                %a{:href => "#"} 漆芸
                %a{:href => "#"} 金属工芸
                %a{:href => "#"} 絵画/タペストリ
                %a{:href => "#"} 版画
                %a{:href => "#"} 彫刻/オブジェクト
                %a{:href => "#"} 書
                %a{:href => "#"} 写真
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} アート用品
            %ul
              %li
                %a{:href => "#"} 画材
                %a{:href => "#"} 額縁
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} その他
            %ul
              %li
                %a{:href => "#"} トランプ/UNO
                %a{:href => "#"} カルタ/百人一首
                %a{:href => "#"} ダーツ
                %a{:href => "#"} ビリヤード
                %a{:href => "#"} 麻雀
                %a{:href => "#"} パズル/ジグソーパズル
                %a{:href => "#"} 囲碁/将棋
                %a{:href => "#"} オセロ/チェス
                %a{:href => "#"} 人生ゲーム
                %a{:href => "#"} 野球/サッカーゲーム
                %a{:href => "#"} スポーツ
                %a{:href => "#"} 三輪車/乗り物
                %a{:href => "#"} ヨーヨー
                %a{:href => "#"} 模型製作用品
                %a{:href => "#"} 鉄道
                %a{:href => "#"} 航空機
                %a{:href => "#"} アマチュア無線
                %a{:href => "#"} パチンコ/パチスロ
                %a{:href => "#"} その他
      %li                                   
        %a{:href => "#"} コスメ・香水・美容
        %ul
          %li
            %a{:href => "#"} ベースメイク
            %ul
              %li
                %a{:href => "#"} ファンデーション
                %a{:href => "#"} 化粧下地
                %a{:href => "#"} コントロールカラー
                %a{:href => "#"} BBクリーム
                %a{:href => "#"} CCクリーム
                %a{:href => "#"} コンシーラー
                %a{:href => "#"} フェイスパウダー
                %a{:href => "#"} トライアルセット/サンプル
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} メイクアップ
            %ul
              %li
                %a{:href => "#"} アイシャドウ
                %a{:href => "#"} 口紅
                %a{:href => "#"} リップグロス
                %a{:href => "#"} リップライナー
                %a{:href => "#"} チーク
                %a{:href => "#"} フェイスカラー
                %a{:href => "#"} マスカラ
                %a{:href => "#"} アイライナー
                %a{:href => "#"} つけまつげ
                %a{:href => "#"} アイブロウペンシル
                %a{:href => "#"} パウダーアイブロウ
                %a{:href => "#"} 眉マスカラ
                %a{:href => "#"} トライアルセット/サンプル
                %a{:href => "#"} メイク道具/化粧小物
                %a{:href => "#"} 美顔用品/美顔ローラー
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ネイルケア
            %ul
              %li
                %a{:href => "#"} ネイルカラー
                %a{:href => "#"} カラージェル
                %a{:href => "#"} ネイルベースコート/トップコート
                %a{:href => "#"} ネイルアート用品
                %a{:href => "#"} ネイルパーツ
                %a{:href => "#"} ネイルチップ/付け爪
                %a{:href => "#"} 手入れ用具
                %a{:href => "#"} 除光液
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 香水
            %ul
              %li
                %a{:href => "#"} 香水(女性用)
                %a{:href => "#"} 香水(男性用)
                %a{:href => "#"} ユニセックス
                %a{:href => "#"} ボディミスト
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} スキンケア/基礎化粧品
            %ul
              %li
                %a{:href => "#"} 化粧水/ローション
                %a{:href => "#"} 乳液/ミルク
                %a{:href => "#"} 美容液
                %a{:href => "#"} フェイスクリーム
                %a{:href => "#"} 洗顔料
                %a{:href => "#"} クレンジング/メイク落とし
                %a{:href => "#"} パック/フェイスマスク
                %a{:href => "#"} ジェル/ゲル
                %a{:href => "#"} ブースター/導入液
                %a{:href => "#"} アイケア
                %a{:href => "#"} リップケア
                %a{:href => "#"} トライアルセット/サンプル
                %a{:href => "#"} 洗顔グッズ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ヘアケア
            %ul
              %li
                %a{:href => "#"} シャンプー
                %a{:href => "#"} トリートメント
                %a{:href => "#"} コンディショナー
                %a{:href => "#"} リンス
                %a{:href => "#"} スタイリング剤
                %a{:href => "#"} カラーリング剤
                %a{:href => "#"} ブラシ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ボディケア
            %ul
              %li
                %a{:href => "#"} オイル/クリーム
                %a{:href => "#"} ハンドクリーム
                %a{:href => "#"} ローション
                %a{:href => "#"} 日焼け止め/サンオイル
                %a{:href => "#"} ボディソープ
                %a{:href => "#"} 入浴剤
                %a{:href => "#"} 制汗/デオドラント
                %a{:href => "#"} フットケア
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} オーラルケア
            %ul
              %li
                %a{:href => "#"} 口臭防止/エチケット用品
                %a{:href => "#"} 歯ブラシ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} リラクゼーション
            %ul
              %li
                %a{:href => "#"} エッセンシャルオイル
                %a{:href => "#"} 芳香器
                %a{:href => "#"} お香/香炉
                %a{:href => "#"} キャンドル
                %a{:href => "#"} リラクゼーショングッズ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ダイエット
            %ul
              %li
                %a{:href => "#"} ダイエット食品
                %a{:href => "#"} エクササイズ用品
                %a{:href => "#"} 体重計
                %a{:href => "#"} 体脂肪計
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} その他
            %ul
              %li
                %a{:href => "#"} 健康用品
                %a{:href => "#"} 看護/介護用品
                %a{:href => "#"} 救急/衛生用品
                %a{:href => "#"} その他
      %li
        %a{:href => "#"} 家電・スマホ・カメラ
        %ul
          %li
            %a{:href => "#"} スマートフォン/携帯電話
            %ul
              %li
                %a{:href => "#"} スマートフォン本体
                %a{:href => "#"} バッテリー/充電器
                %a{:href => "#"} 携帯電話本体
                %a{:href => "#"} PHS本体
                %a{:href => "#"} その他
          %li                      
            %a{:href => "#"} スマホアクセサリー
            %ul
              %li
                %a{:href => "#"} Android用ケース
                %a{:href => "#"} iPhone用ケース
                %a{:href => "#"} カバー
                %a{:href => "#"} イヤホンジャック
                %a{:href => "#"} ストラップ
                %a{:href => "#"} フィルム
                %a{:href => "#"} 自撮り棒
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} PC/タブレット
            %ul
              %li
                %a{:href => "#"} タブレット
                %a{:href => "#"} ノートPC
                %a{:href => "#"} デスクトップ型PC
                %a{:href => "#"} ディスプレイ
                %a{:href => "#"} 電子ブックリーダー
                %a{:href => "#"} PC周辺機器
                %a{:href => "#"} PCパーツ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} カメラ
            %ul
              %li
                %a{:href => "#"} デジタルカメラ
                %a{:href => "#"} ビデオカメラ
                %a{:href => "#"} レンズ(単焦点)
                %a{:href => "#"} レンズ(ズーム)
                %a{:href => "#"} フィルムカメラ
                %a{:href => "#"} 防犯カメラ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} テレビ/映像機器
            %ul
              %li
                %a{:href => "#"} テレビ
                %a{:href => "#"} プロジェクター
                %a{:href => "#"} ブルーレイレコーダー
                %a{:href => "#"} DVDレコーダー
                %a{:href => "#"} ブルーレイプレーヤー
                %a{:href => "#"} DVDプレーヤー
                %a{:href => "#"} 映像用ケーブル
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} オーディオ機器
            %ul
              %li
                %a{:href => "#"} ポータブルプレーヤー
                %a{:href => "#"} イヤフォン
                %a{:href => "#"} ヘッドフォン
                %a{:href => "#"} アンプ
                %a{:href => "#"} スピーカー
                %a{:href => "#"} ケーブル/シールド
                %a{:href => "#"} ラジオ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 美容/健康
            %ul
              %li
                %a{:href => "#"} ヘアドライヤー
                %a{:href => "#"} ヘアアイロン
                %a{:href => "#"} 美容機器
                %a{:href => "#"} 電気シェーバー
                %a{:href => "#"} 電動歯ブラシ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 冷暖房/空調
            %ul
              %li
                %a{:href => "#"} エアコン
                %a{:href => "#"} 空気清浄器
                %a{:href => "#"} 加湿器
                %a{:href => "#"} 扇風機
                %a{:href => "#"} 除湿機
                %a{:href => "#"} ファンヒーター
                %a{:href => "#"} 電気ヒーター
                %a{:href => "#"} オイルヒーター
                %a{:href => "#"} ストーブ
                %a{:href => "#"} ホットカーペット
                %a{:href => "#"} こたつ
                %a{:href => "#"} 電気毛布
                %a{:href => "#"} その他
          %li                   
            %a{:href => "#"} 生活家電
            %ul
              %li
                %a{:href => "#"} 冷蔵庫
                %a{:href => "#"} 洗濯機
                %a{:href => "#"} 炊飯器
                %a{:href => "#"} 電子レンジ/オーブン
                %a{:href => "#"} 調理機器
                %a{:href => "#"} アイロン
                %a{:href => "#"} 掃除機
                %a{:href => "#"} エスプレッソマシン
                %a{:href => "#"} コーヒーメーカー
                %a{:href => "#"} 衣類乾燥機
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} その他
            %ul
              %li
                %a{:href => "#"} その他
      %li                                   
        %a{:href => "#"} スポーツ・レジャー
        %ul
          %li
            %a{:href => "#"} ゴルフ
            %ul
              %li
                %a{:href => "#"} クラブ
                %a{:href => "#"} ウエア(男性用)
                %a{:href => "#"} ウエア(女性用)
                %a{:href => "#"} バッグ
                %a{:href => "#"} シューズ(男性用)
                %a{:href => "#"} シューズ(女性用)
                %a{:href => "#"} アクセサリー
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} フィッシング
            %ul
              %li
                %a{:href => "#"} ロッド
                %a{:href => "#"} リール
                %a{:href => "#"} ルアー用品
                %a{:href => "#"} ウエア
                %a{:href => "#"} 釣り糸/ライン
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 自転車
            %ul
              %li
                %a{:href => "#"} 自転車本体
                %a{:href => "#"} ウエア
                %a{:href => "#"} パーツ
                %a{:href => "#"} アクセサリー
                %a{:href => "#"} バッグ
                %a{:href => "#"} 工具/メンテナンス
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} トレーニング/エクササイズ
            %ul
              %li
                %a{:href => "#"} ランニング
                %a{:href => "#"} ウォーキング
                %a{:href => "#"} ヨガ
                %a{:href => "#"} トレーニング用品
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 野球
            %ul
              %li
                %a{:href => "#"} ウェア
                %a{:href => "#"} シューズ
                %a{:href => "#"} グローブ
                %a{:href => "#"} バット
                %a{:href => "#"} アクセサリー
                %a{:href => "#"} 防具
                %a{:href => "#"} 練習機器
                %a{:href => "#"} 記念グッズ
                %a{:href => "#"} 応援グッズ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} サッカー/フットサル
            %ul
              %li
                %a{:href => "#"} ウェア
                %a{:href => "#"} シューズ
                %a{:href => "#"} ボール
                %a{:href => "#"} アクセサリー
                %a{:href => "#"} 記念グッズ
                %a{:href => "#"} 応援グッズ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} テニス
            %ul
              %li
                %a{:href => "#"} ラケット(硬式用)
                %a{:href => "#"} ラケット(軟式用)
                %a{:href => "#"} ウェア
                %a{:href => "#"} シューズ
                %a{:href => "#"} ボール
                %a{:href => "#"} アクセサリー
                %a{:href => "#"} 記念グッズ
                %a{:href => "#"} 応援グッズ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} スノーボード
            %ul
              %li
                %a{:href => "#"} ボード
                %a{:href => "#"} バインディング
                %a{:href => "#"} ブーツ(男性用)
                %a{:href => "#"} ブーツ(女性用)
                %a{:href => "#"} ブーツ(子ども用)
                %a{:href => "#"} ウエア/装備(男性用)
                %a{:href => "#"} ウエア/装備(女性用)
                %a{:href => "#"} ウエア/装備(子ども用)
                %a{:href => "#"} アクセサリー
                %a{:href => "#"} バッグ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} スキー
            %ul
              %li
                %a{:href => "#"} 板
                %a{:href => "#"} ブーツ(男性用)
                %a{:href => "#"} ブーツ(女性用)
                %a{:href => "#"} ブーツ(子ども用)
                %a{:href => "#"} ビンディング
                %a{:href => "#"} ウエア(男性用)
                %a{:href => "#"} ウエア(女性用)
                %a{:href => "#"} ウエア(子ども用)
                %a{:href => "#"} ストック
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} その他スポーツ
            %ul
              %li
                %a{:href => "#"} ダンス/バレエ
                %a{:href => "#"} サーフィン
                %a{:href => "#"} バスケットボール
                %a{:href => "#"} バドミントン
                %a{:href => "#"} バレーボール
                %a{:href => "#"} スケートボード
                %a{:href => "#"} 陸上競技
                %a{:href => "#"} ラグビー
                %a{:href => "#"} アメリカンフットボール
                %a{:href => "#"} ボクシング
                %a{:href => "#"} ボウリング
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} アウトドア
            %ul
              %li
                %a{:href => "#"} テント/タープ
                %a{:href => "#"} ライト/ランタン
                %a{:href => "#"} 寝袋/寝具
                %a{:href => "#"} テーブル/チェア
                %a{:href => "#"} ストーブ/コンロ
                %a{:href => "#"} 調理器具
                %a{:href => "#"} 食器
                %a{:href => "#"} 登山用品
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} その他
            %ul
              %li
                %a{:href => "#"} 旅行用品
                %a{:href => "#"} その他
      %li          
        %a{:href => "#"} ハンドメイド
        %ul
          %li
            %a{:href => "#"} アクセサリー(女性用)
            %ul
              %li
                %a{:href => "#"} ピアス
                %a{:href => "#"} イヤリング
                %a{:href => "#"} ネックレス
                %a{:href => "#"} ブレスレット
                %a{:href => "#"} リング
                %a{:href => "#"} チャーム
                %a{:href => "#"} ヘアゴム
                %a{:href => "#"} アンクレット
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} ファッション小物
            %ul
              %li
                %a{:href => "#"} バッグ(女性用)
                %a{:href => "#"} バッグ(男性用)
                %a{:href => "#"} 財布(女性用)
                %a{:href => "#"} 財布(男性用)
                %a{:href => "#"} ファッション雑貨
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} アクセサリー/時計
            %ul
              %li
                %a{:href => "#"} アクセサリー(男性用)
                %a{:href => "#"} 時計(女性用)
                %a{:href => "#"} 時計(男性用)
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 日用品/インテリア
            %ul
              %li
                %a{:href => "#"} キッチン用品
                %a{:href => "#"} 家具
                %a{:href => "#"} 文房具
                %a{:href => "#"} アート/写真
                %a{:href => "#"} アロマ/キャンドル
                %a{:href => "#"} フラワー/ガーデン
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 趣味/おもちゃ
            %ul
              %li
                %a{:href => "#"} クラフト/布製品
                %a{:href => "#"} おもちゃ/人形
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} キッズ/ベビー
            %ul
              %li
                %a{:href => "#"} ファッション雑貨
                %a{:href => "#"} スタイ/よだれかけ
                %a{:href => "#"} 外出用品
                %a{:href => "#"} ネームタグ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 素材/材料
            %ul
              %li
                %a{:href => "#"} 各種パーツ
                %a{:href => "#"} 生地/糸
                %a{:href => "#"} 型紙/パターン
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 二次創作物
            %ul
              %li
                %a{:href => "#"} Ingress
                %a{:href => "#"} クリエイターズ宇宙兄弟
          %li                    
            %a{:href => "#"} その他
      %li                                   
        %a{:href => "#"} チケット
        %ul
          %li
            %a{:href => "#"} 音楽
            %ul
              %li
                %a{:href => "#"} 男性アイドル
                %a{:href => "#"} 女性アイドル
                %a{:href => "#"} 韓流
                %a{:href => "#"} 国内アーティスト
                %a{:href => "#"} 海外アーティスト
                %a{:href => "#"} 音楽フェス
                %a{:href => "#"} 声優/アニメ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} スポーツ
            %ul
              %li
                %a{:href => "#"} サッカー
                %a{:href => "#"} 野球
                %a{:href => "#"} テニス
                %a{:href => "#"} 格闘技/プロレス
                %a{:href => "#"} 相撲/武道
                %a{:href => "#"} ゴルフ
                %a{:href => "#"} バレーボール
                %a{:href => "#"} バスケットボール
                %a{:href => "#"} モータースポーツ
                %a{:href => "#"} ウィンタースポーツ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 演劇/芸能
            %ul
              %li
                %a{:href => "#"} ミュージカル
                %a{:href => "#"} 演劇
                %a{:href => "#"} 伝統芸能
                %a{:href => "#"} 落語
                %a{:href => "#"} お笑い
                %a{:href => "#"} オペラ
                %a{:href => "#"} サーカス
                %a{:href => "#"} バレエ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} イベント
            %ul
              %li
                %a{:href => "#"} 声優/アニメ
                %a{:href => "#"} キッズ/ファミリー
                %a{:href => "#"} トークショー/講演会
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 映画
            %ul
              %li
                %a{:href => "#"} 邦画
                %a{:href => "#"} 洋画
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 施設利用券
            %ul
              %li
                %a{:href => "#"} 遊園地/テーマパーク
                %a{:href => "#"} 美術館/博物館
                %a{:href => "#"} スキー場
                %a{:href => "#"} ゴルフ場
                %a{:href => "#"} フィットネスクラブ
                %a{:href => "#"} プール
                %a{:href => "#"} ボウリング場
                %a{:href => "#"} 水族館
                %a{:href => "#"} 動物園
                %a{:href => "#"} その他
          %li                  
            %a{:href => "#"} 優待券/割引券
            %ul
              %li
                %a{:href => "#"} ショッピング
                %a{:href => "#"} レストラン/食事券
                %a{:href => "#"} フード/ドリンク券
                %a{:href => "#"} 宿泊券
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} その他
      %li
        %a{:href => "#"} 自動車・オートバイ
        %ul
          %li
            %a{:href => "#"} 自動車本体
            %ul
              %li
                %a{:href => "#"} 国内自動車本体
                %a{:href => "#"} 外国自動車本体
          %li                    
            %a{:href => "#"} 自動車タイヤ/ホイール
            %ul
              %li
                %a{:href => "#"} タイヤ/ホイールセット
                %a{:href => "#"} タイヤ
                %a{:href => "#"} ホイール
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 自動車パーツ
            %ul
              %li
                %a{:href => "#"} サスペンション
                %a{:href => "#"} ブレーキ
                %a{:href => "#"} 外装、エアロパーツ
                %a{:href => "#"} ライト
                %a{:href => "#"} 内装品、シート
                %a{:href => "#"} ステアリング
                %a{:href => "#"} マフラー・排気系
                %a{:href => "#"} エンジン、過給器、冷却装置
                %a{:href => "#"} クラッチ、ミッション、駆動系
                %a{:href => "#"} 電装品
                %a{:href => "#"} 補強パーツ
                %a{:href => "#"} 汎用パーツ
                %a{:href => "#"} 外国自動車用パーツ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 自動車アクセサリー
            %ul
              %li
                %a{:href => "#"} 車内アクセサリー
                %a{:href => "#"} カーナビ
                %a{:href => "#"} カーオーディオ
                %a{:href => "#"} 車外アクセサリー
                %a{:href => "#"} メンテナンス用品
                %a{:href => "#"} チャイルドシート
                %a{:href => "#"} ドライブレコーダー
                %a{:href => "#"} レーダー探知機
                %a{:href => "#"} カタログ/マニュアル
                %a{:href => "#"} セキュリティ
                %a{:href => "#"} ETC
                %a{:href => "#"} その他
          %li                   
            %a{:href => "#"} オートバイ車体
          %li
            %a{:href => "#"} オートバイパーツ
            %ul
              %li
                %a{:href => "#"} タイヤ
                %a{:href => "#"} マフラー
                %a{:href => "#"} エンジン、冷却装置
                %a{:href => "#"} カウル、フェンダー、外装
                %a{:href => "#"} サスペンション
                %a{:href => "#"} ホイール
                %a{:href => "#"} シート
                %a{:href => "#"} ブレーキ
                %a{:href => "#"} タンク
                %a{:href => "#"} ライト、ウィンカー
                %a{:href => "#"} チェーン、スプロケット、駆動系
                %a{:href => "#"} メーター
                %a{:href => "#"} 電装系
                %a{:href => "#"} ミラー
                %a{:href => "#"} 外国オートバイ用パーツ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} オートバイアクセサリー
            %ul
              %li
                %a{:href => "#"} ヘルメット/シールド
                %a{:href => "#"} バイクウエア/装備
                %a{:href => "#"} アクセサリー
                %a{:href => "#"} メンテナンス
                %a{:href => "#"} カタログ/マニュアル
                %a{:href => "#"} その他
      %li                        
        %a{:href => "#"} その他
        %ul
          %li
            %a{:href => "#"} まとめ売り
          %li
            %a{:href => "#"} ペット用品
            %ul
              %li
                %a{:href => "#"} ペットフード
                %a{:href => "#"} 犬用品
                %a{:href => "#"} 猫用品
                %a{:href => "#"} 魚用品/水草
                %a{:href => "#"} 小動物用品
                %a{:href => "#"} 爬虫類/両生類用品
                %a{:href => "#"} かご/おり
                %a{:href => "#"} 鳥用品
                %a{:href => "#"} 虫類用品
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 食品
            %ul
              %li
                %a{:href => "#"} 菓子
                %a{:href => "#"} 米
                %a{:href => "#"} 野菜
                %a{:href => "#"} 果物
                %a{:href => "#"} 調味料
                %a{:href => "#"} 魚介類(加工食品)
                %a{:href => "#"} 肉類(加工食品)
                %a{:href => "#"} その他 加工食品
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 飲料/酒
            %ul
              %li
                %a{:href => "#"} コーヒー
                %a{:href => "#"} ソフトドリンク
                %a{:href => "#"} ミネラルウォーター
                %a{:href => "#"} 茶
                %a{:href => "#"} ウイスキー
                %a{:href => "#"} ワイン
                %a{:href => "#"} ブランデー
                %a{:href => "#"} 焼酎
                %a{:href => "#"} 日本酒
                %a{:href => "#"} ビール、発泡酒
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 日用品/生活雑貨/旅行
            %ul
              %li
                %a{:href => "#"} タオル/バス用品
                %a{:href => "#"} 日用品/生活雑貨
                %a{:href => "#"} 洗剤/柔軟剤
                %a{:href => "#"} 旅行用品
                %a{:href => "#"} 防災関連グッズ
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} アンティーク/コレクション
            %ul
              %li
                %a{:href => "#"} 雑貨
                %a{:href => "#"} 工芸品
                %a{:href => "#"} 家具
                %a{:href => "#"} 印刷物
                %a{:href => "#"} その他
          %li      
            %a{:href => "#"} 文房具/事務用品
            %ul
              %li
                %a{:href => "#"} 筆記具
                %a{:href => "#"} ノート/メモ帳
                %a{:href => "#"} テープ/マスキングテープ
                %a{:href => "#"} カレンダー/スケジュール
                %a{:href => "#"} アルバム/スクラップ
                %a{:href => "#"} ファイル/バインダー
                %a{:href => "#"} はさみ/カッター
                %a{:href => "#"} カードホルダー/名刺管理
                %a{:href => "#"} のり/ホッチキス
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} 事務/店舗用品
            %ul
              %li
                %a{:href => "#"} オフィス用品一般
                %a{:href => "#"} オフィス家具
                %a{:href => "#"} 店舗用品
                %a{:href => "#"} OA機器
                %a{:href => "#"} ラッピング/包装
                %a{:href => "#"} その他
          %li                    
            %a{:href => "#"} その他