.top-page
  = render partial: 'shared/shared_2/header-top'
  = render partial: 'shared/shared_2/main-top'
  = render partial: 'shared/shared_2/footer-top'
  = render partial: 'shared/shared_2/sellbtn-top'