.products-detail
  = render partial: "tests/header-top"
  
  .content-detail
    .content-detail__form
      .content-detail__form__title
        ジャケット
      .content-detail__form__box
        .content-detail__form__box__image
          .content-detail__form__box__image__main
          .content-detail__form__box__image__sub1
            .content-detail__form__box__image__sub1__picture1
            .content-detail__form__box__image__sub1__picture2
            .content-detail__form__box__image__sub1__picture3
            .content-detail__form__box__image__sub1__picture4
            .content-detail__form__box__image__sub1__picture5
          .content-detail__form__box__image__sub2
            .content-detail__form__box__image__sub2__picture1
            .content-detail__form__box__image__sub2__picture2
            .content-detail__form__box__image__sub2__picture3
            .content-detail__form__box__image__sub2__picture4
            .content-detail__form__box__image__sub2__picture5
        .content-detail__form__box__detail
          .content-detail__form__box__detail__seller
            出品者
          .content-detail__form__box__detail__seller__form
            takahashi
          .content-detail__form__box__detail__category
            カテゴリー
          .content-detail__form__box__detail__category__form
            メンズ
            アウター
            ジャケット
          .content-detail__form__box__detail__brand
            ブランド
          .content-detail__form__box__detail__brand__form
            アンダーアーマー
          .content-detail__form__box__detail__size
            商品のサイズ
          .content-detail__form__box__detail__size__form
            L
          .content-detail__form__box__detail__status
            商品の状態
          .content-detail__form__box__detail__status__form
            やや傷や汚れあり
          .content-detail__form__box__detail__delivery-price
            配送料の負担
          .content-detail__form__box__detail__delivery-price__form
            送料込み(出品者負担)
          .content-detail__form__box__detail__delivery-method
            配送の方法
          .content-detail__form__box__detail__delivery-method__form
            らくらくメルカリ便
          .content-detail__form__box__detail__delivery-origin
            配送元の地域
          .content-detail__form__box__detail__delivery-origin__form
            愛知県
          .content-detail__form__box__detail__delivery-date
            発送日の目安
          .content-detail__form__box__detail__delivery-date__form
            1~2日で発送
      .content-detail__form__price
        .content-detail__form__price__bold
          ￥5000円
        .content-detail__form__price__item
          .content-detail__form__price__item__tax
            (税込)
          .content-detail__form__price__item__delivery-price
            送料込み
      .content-detail__form__bay-btn
        購入画面にすすむ
      .content-detail__form__icon
        .content-detail__form__icon__like
          ♡ いいね! 0
        .content-detail__form__icon__report
          不適切な商品の報告
    .content-detail__comment
      .content-detail__comment__danger
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .content-detail__comment__form
      .content-detail__comment__btn
        コメントする   
  
  = render partial: "tests/footer-top"