.banner
  .banner__title
    だれでもかんたん、人生を変えるフリマアプリ
  .banner__subtitle
    今すぐ無料ダウンロード！
  .banner__icon
    .banner__icon__app
    .banner__icon__google  

.footer
  .footer__info
    .footer__info__furima
      FURIMAについて
    .footer__info__furima-home
      FURIMAを見る
    .footer__info__help
      ヘルプ＆ガイド
  .footer__content
    .footer__content__menu1
      会社概要（運営会社）
      プライバシーポリシー
      FURIMA利用規約
      ポイントに関する特約
    .footer__content__menu2
      カテゴリー一覧
      ブランド一覧
    .footer__content__menu3
      FURIMAガイド
      FURIMAロゴ利用ガイドライン
      お知らせ
  .footer__logo
    