.header
  .header__box
    %div{type: "logo", class: "header__box__title", link_to: "#"}
    .header__box__search
      %input{ class: 'header__box__search__form', placeholder: 'キーワードから探す' }
      %a{type: "button", class: "header__box__search__btn", link_to: "#"}
  .header__box2
    .header__box2__tab
      = link_to "カテゴリー", class: "header__box2__tab__category"
      = link_to "ブランド", class: "header__box2__tab__brand"
    .header__box2__info
      = link_to "♡ いいね！一覧", class: "header__box2__info__like"
      = link_to "マイページ", class: "header__box2__info__mypage"