.header
  .header__box
    .header__box__title
    .header__box__search
      .header__box__search__form
      %a{type: "button", class: "header__box__search__btn", link_to: "#"}
  .header__box2
    .header__box2__tab
      .header__box2__tab__category
        カテゴリー
      .header__box2__tab__brand
        ブランド
    .header__box2__info
      .header__box2__info__like
        いいね!一覧
      .header__box2__info__mypage
        マイページ