.content
  .content__form
    .content__form__title
      ジャケット
    .content__form__box
      .content__form__box__image
        .content__form__box__image__main
        .content__form__box__image__sub1
          .content__form__box__image__sub1__picture1
          .content__form__box__image__sub1__picture2
          .content__form__box__image__sub1__picture3
          .content__form__box__image__sub1__picture4
          .content__form__box__image__sub1__picture5
        .content__form__box__image__sub2
          .content__form__box__image__sub2__picture1
          .content__form__box__image__sub2__picture2
          .content__form__box__image__sub2__picture3
          .content__form__box__image__sub2__picture4
          .content__form__box__image__sub2__picture5
      .content__form__box__detail
        .content__form__box__detail__seller
          出品者
        .content__form__box__detail__seller__form
          takahashi
        .content__form__box__detail__category
          カテゴリー
        .content__form__box__detail__category__form
          メンズ
          アウター
          ジャケット
        .content__form__box__detail__brand
          ブランド
        .content__form__box__detail__brand__form
          アンダーアーマー
        .content__form__box__detail__size
          商品のサイズ
        .content__form__box__detail__size__form
          L
        .content__form__box__detail__status
          商品の状態
        .content__form__box__detail__status__form
          やや傷や汚れあり
        .content__form__box__detail__delivery-price
          配送料の負担
        .content__form__box__detail__delivery-price__form
          送料込み(出品者負担)
        .content__form__box__detail__delivery-method
          配送の方法
        .content__form__box__detail__delivery-method__form
          らくらくメルカリ便
        .content__form__box__detail__delivery-origin
          配送元の地域
        .content__form__box__detail__delivery-origin__form
          愛知県
        .content__form__box__detail__delivery-date
          発送日の目安
        .content__form__box__detail__delivery-date__form
          1~2日で発送
    .content__form__price
      .content__form__price__bold
        ￥5000円
      .content__form__price__item
        .content__form__price__item__tax
          (税込)
        .content__form__price__item__delivery-price
          送料込み
    .content__form__bay-btn
      購入画面にすすむ
    .content__form__icon
      .content__form__icon__like
        ♡ いいね! 0
      .content__form__icon__report
        不適切な商品の報告
  .content__comment
    .content__comment__danger
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .content__comment__form
    .content__comment__btn
      コメントする   