.content
  .content__title
    人生を変えるフリマアプリ
  .content__subtitle
    FURIMAは誰でも簡単に出品・購入できるフリマアプリです
  .content__icon
    .content__icon__app
    .content__icon__google

.content2
  .content2__title
    FURIMAが選ばれる3つの理由
  .content2__main
    .content2__main__picture
      .content2__main__picture__image1
        .content2__main__picture__image1__number
          1
      .content2__main__picture__image2
        .content2__main__picture__image2__number
          2
      .content2__main__picture__image3
        .content2__main__picture__image3__number
          3
    .content2__main__box
      .content2__main__box__text1
        3分ですぐ出品
        .content2__main__box__text1__content
          スマホで入力するだけで簡単に
          出品できる！   
      .content2__main__box__text2
        シンプルで使いやすい
        .content2__main__box__text2__content
          めんどくさい入力は必要なく、検索も
          購入もスムーズ！
      .content2__main__box__text3
        手数料が業界最安
        .content2__main__box__text3__content
          最大3%でお得に出品&購入！

.content3
  .content3__title
    会員数日本一位
  .content3__subtitle
    FURIMAは、フリマアプリで最も人気。
    出品・購入回数も業界最多です！
    ほしかったあの商品に出会えるかもしれません。
  .content3__icon
    .content3__icon__app
    .content3__icon__google

.content4
  .content4__title
    FURIMAが選ばれる3つの理由
  .content4__main
    .content4__main__picture
      .content4__main__picture__image1 
      .content4__main__picture__image2
      .content4__main__picture__image3   
    .content4__main__box
      .content4__main__box__text1
        簡単に売り買いできる
        .content4__main__box__text1__content
          スマホひとつで、いつでもどこでも簡単に
          出品・購入が可能！
      .content4__main__box__text2
        売上金は即日振込みに対応
        .content4__main__box__text2__content
          午前9時までに振込を依頼いただけれ
          ば、翌日に指定の口座に入金いたします!
      .content4__main__box__text3
        様々な支払いに対応
        .content4__main__box__text3__content
          お支払いは、クレジットカードだけでな
          く、ポイントや売上金など多彩な方法
          があります。

.content5
  .content5__main1
    .content5__main1__title
      ピックアップカテゴリー
      新規投稿商品
    .content5__main1__picture  
      .content5__main1__picture__image1
        .content5__main1__picture__image1__content
          .content5__main1__picture__image1__content__form
            product1
            30000円
          .content5__main1__picture__image1__content__like
            ☆1
      .content5__main1__picture__image2
        .content5__main1__picture__image2__content
          .content5__main1__picture__image2__content__form
            product2
            30000円
          .content5__main1__picture__image2__content__like
            ☆1
      .content5__main1__picture__image3
        .content5__main1__picture__image3__content
          .content5__main1__picture__image3__content__form
            product3
            30000円
          .content5__main1__picture__image3__content__like
            ☆1
      .content5__main1__picture__image4
        .content5__main1__picture__image4__content
          .content5__main1__picture__image4__content__form
            product4
            30000円
          .content5__main1__picture__image4__content__like
            ☆1
      .content5__main1__picture__image5
        .content5__main1__picture__image5__content
          .content5__main1__picture__image5__content__form
            product5
            30000円
          .content5__main1__picture__image5__content__like
            ☆1
  .content5__main2
    .content5__main2__title
      ピックアップブランド
      アーカイバ
    .content5__main2__picture
      .content5__main2__picture__image1
        .content5__main1__picture__image1__content
          .content5__main1__picture__image1__content__form
            product1
            30000円
          .content5__main1__picture__image1__content__like
            ☆1
      .content5__main2__picture__image2
        .content5__main1__picture__image2__content
          .content5__main1__picture__image2__content__form
            product2
            30000円
          .content5__main1__picture__image2__content__like
            ☆1
      .content5__main2__picture__image3
        .content5__main1__picture__image3__content
          .content5__main1__picture__image3__content__form
            product3
            30000円
          .content5__main1__picture__image3__content__like
            ☆1
      .content5__main2__picture__image4
        .content5__main1__picture__image4__content
          .content5__main1__picture__image4__content__form
            product4
            30000円
          .content5__main1__picture__image4__content__like
            ☆1
      .content5__main2__picture__image5
        .content5__main1__picture__image5__content
          .content5__main1__picture__image5__content__form
            product5
            30000円
          .content5__main1__picture__image5__content__like
            ☆1